<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">  
     <test name="Users Endpoint Test">
        <!-- This parameter will be passed this test only -->
        <parameter name = "name" value="John Doe Jr."/>
      	<parameter name = "userName" value="jdoe"/> 
      	<parameter name = "email" value="jdoe@nodomain.com"/> 
        <classes>
            <class name="com.gp.AutomationREST.UsersEndpointTest"/>  
        </classes>
     	</test>     	
        <test name="Posts Endpoint Test">
        <!-- This parameter will be passed this test only -->
        <parameter name = "id" value="jd1234"/>
      	<parameter name = "userId" value="jdoe"/> 
      	<parameter name = "title" value="REST Automation through REST-assured"/> 
      	<parameter name = "body" value="This article explains the use of REST-assured framework ...."/>  
        <classes>
            <class name="com.gp.AutomationREST.PostsEndpointTest"/>  
        </classes>
     	</test>        
     	<test name="Comments Endpoint Test">
        <!-- This parameter will be passed this test only -->
        <parameter name = "id" value="123456"/>
      	<parameter name = "postId" value="22"/> 
      	<parameter name = "name" value="John Doe Jr."/> 
      	<parameter name = "email" value="jdoe@nodomain.com"/>   
      	<parameter name = "body" value="Great article!"/>   
        <classes>
            <class name="com.gp.AutomationREST.CommentsEndpointTest"/>  
        </classes>
     	</test>
</suite> <!-- Suite -->
